*{
    margin: 0 1rem;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(https://res.klook.com/images/fl_lossy.progressive,q_65/c_fill,w_1295,h_862/w_80,x_15,y_15,g_south_west,l_Klook_water_br_trans_yhcmh3/activities/ll3klme6k1va0beiougq/%E0%B8%97%E0%B8%B1%E0%B8%A7%E0%B8%A3%E0%B9%8C%E0%B9%80%E0%B8%81%E0%B8%B2%E0%B8%B0%E0%B8%81%E0%B8%A3%E0%B8%B0%E0%B8%94%E0%B8%B2%E0%B8%99,%E0%B9%80%E0%B8%81%E0%B8%B2%E0%B8%B0%E0%B9%80%E0%B8%8A%E0%B8%B7%E0%B8%AD%E0%B8%81,%E0%B9%80%E0%B8%81%E0%B8%B2%E0%B8%B0%E0%B9%81%E0%B8%AB%E0%B8%A7%E0%B8%99%E0%B9%81%E0%B8%A5%E0%B8%B0%E0%B8%96%E0%B9%89%E0%B8%B3%E0%B8%A1%E0%B8%A3%E0%B8%81%E0%B8%95%E0%B9%83%E0%B8%99%E0%B8%95%E0%B8%A3%E0%B8%B1%E0%B8%87.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.container{
    max-width: 1550px;
    margin: 0 auto;
}

nav{
    padding: 2rem;
    background-color: rgb(8, 95, 136);
    border-radius: 10px;
}

.nav-con{
    display: flex;
    justify-content: space-between;
    padding: 0 ;
}

.logo a{
    font-size: 3rem;
    color: rgb(255, 238, 0);
    text-decoration: none;
}

.menu{
    display: flex;
    list-style: none;
    align-items: center;
}

.menu li{
margin: 0 1rem;
}

.menu li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.maincontent{
    background-color: rgb(201, 255, 252);
    width: 1360px;
    border-radius: 10px;
    margin: 0 auto;
}

.maincontent-con{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.maincontent-info{
    width: 120%;
    padding: 2rem 11rem;
}

.maincontent-info h3{
    font-size: 2rem;
}

.maincontent-info p{
    margin: 1rem;
    text-align: center;
}

.maincontent-info h4{
    color: rgb(0, 82, 64);
    font-size: 1.7rem;
    margin: 1rem 1rem;
    text-align: center;
}

.maincontent-info a{
    text-align: center;
    width: 100%;
    padding: 2rem 35rem;
}

.maincontent-info .maincontent-btn{
    background-color: rgb(0, 107, 27);
    color: rgb(255, 255, 255);
    padding: 1rem;
    border-radius: 5px;
    text-decoration: none;
}

.maincontent-img{
    width: 120%;
    padding: 2rem;
}

.maincontent-img img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    border-radius: 10px;
}

.content-info{
    width: 120%;
    padding: 1rem;
}

.content-con{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;
    background-color: rgb(0, 100, 92);
    padding: 30px;
    border-radius: 5px;
}

.content-title{
    margin: 2rem 0;
}

.content-title h3{
    font-size: 2rem;
}

.content-item{
    background-color: rgb(201, 253, 255);
    padding: 15px;
    border-radius: 5px;
}

.content-item img{
    width: 100%;
    border-radius: 10px;
}

.content-item h4{
    margin-top: 1rem;
    font-size: 1.5rem;
}

.content-item p{
    margin: 1rem 0;
}

.content-item a{
    display: inline-block;
    color: aliceblue;
    background-color: rgb(0, 107, 27);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-decoration: none;
}

.footer-top{
    margin-top: 2rem;
    padding: 3rem;
    background-color: rgb(8, 95, 136);
    color: aliceblue;
    border-radius: 10px;
}

.footer-top-con{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;
}

.footer-top-item-con{
    display: flex;
    margin: 1rem 0;
}

.footer-top-item-con .date{
    background-color: aliceblue;
    color: black;
    padding: 0.5rem;
    border-radius: 5px;
    text-align: center;
    margin-right: 10px;
}

.footer-top-item:nth-child(2) h4,
.footer-top-item:nth-child(3) h4{
    margin-bottom: 1rem;
}

.footer-buttom{
    background-color: aliceblue;
    padding: 0.5rem;
    margin: 0 8rem;
    text-align: center;
    color: black;
    border-radius: 5px;
}

.footer-top-item h4{
    color: rgb(201, 253, 255);
}

.indent{
    text-indent: 1rem;
}

