*{
    margin: 0 1rem;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(https://learning-city.trang.psu.ac.th/wp-content/uploads/2025/04/%E0%B8%A8%E0%B8%B2%E0%B8%A5%E0%B9%80%E0%B8%88%E0%B9%89%E0%B8%B2%E0%B8%81%E0%B8%B4%E0%B8%A7%E0%B8%AD%E0%B9%88%E0%B8%AD%E0%B8%87%E0%B9%80%E0%B8%AD%E0%B8%B5%E0%B9%88%E0%B8%A2-%E0%B8%AD%E0%B8%B3%E0%B9%80%E0%B8%A0%E0%B8%AD%E0%B9%80%E0%B8%A1%E0%B8%B7%E0%B8%AD%E0%B8%87-%E0%B8%88%E0%B8%B1%E0%B8%87%E0%B8%AB%E0%B8%A7%E0%B8%B1%E0%B8%94%E0%B8%95%E0%B8%A3%E0%B8%B1%E0%B8%87-2.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.container{
    max-width: 1550px;
    margin: 0 auto;
}

nav{
    padding: 2rem;
    background-color: rgb(112, 41, 19);
    border-radius: 10px;
}

.nav-con{
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.logo a{
    font-size: 3rem;
    color: rgb(255, 251, 0);
    text-decoration: none;
}

.menu{
    display: flex;
    list-style: none;
    align-items: center;
}

.menu li{
margin: 0 1rem;
}

.menu li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.maincontent{
    background-color: rgb(238, 219, 206);
    width: 1360px;
    border-radius: 10px;
    margin: 0 auto;
}

.maincontent-con{
    display: flex;
}

.maincontent-info{
    width: 120%;
    padding: 1rem 0;
}

.maincontent-info h3{
    font-size: 2rem;
}

.maincontent-info p{
    margin: 1.5rem;
    font-size: 1.1rem;
}

.maincontent-info h4{
    color: rgb(124, 34, 7);
    font-size: 1.5rem;
    margin: 1rem 1rem;
}

.maincontent-info .maincontent-btn{
    background-color: rgb(0, 107, 27);
    color: rgb(255, 255, 255);
    padding: 1rem;
    border-radius: 5px;
    text-decoration: none;
}

.maincontent-img{
    width: 100%;
    padding: 2rem 1rem;
    margin: 0.5rem 0.5rem;
}

.maincontent-img img{
    width: 95%;
}

.content-info{
    width: 120%;
    padding: 2rem;
}

.content-con{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;
    background-color: rgb(0, 100, 92);
    padding: 30px;
    border-radius: 5px;
}

.content-title{
    margin: 2rem 0;
}

.content-title h3{
    font-size: 2rem;
}

.content-item{
    background-color: rgb(201, 253, 255);
    padding: 15px;
    border-radius: 5px;
}

.content-item img{
    width: 100%;
}

.content-item h4{
    margin-top: 1rem;
    font-size: 1.5rem;
}

.content-item p{
    margin: 1rem 0;
}

.content-item a{
    display: inline-block;
    color: aliceblue;
    background-color: rgb(0, 107, 27);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-decoration: none;
}

.footer-top{
    margin-top: 2rem;
    padding: 3rem;
    background-color: rgb(112, 41, 19);
    color: aliceblue;
    border-radius: 10px;
}

.footer-top-con{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;
}

.footer-top-item-con{
    display: flex;
    margin: 1rem 0;
}

.footer-top-item-con .date{
    background-color: aliceblue;
    color: black;
    padding: 0.5rem;
    border-radius: 5px;
    text-align: center;
    margin-right: 10px;
}

.footer-top-item:nth-child(2) h4,
.footer-top-item:nth-child(3) h4{
    margin-bottom: 1rem;
}

.footer-buttom{
    background-color: aliceblue;
    padding: 0.5rem;
    margin: 0 8rem;
    text-align: center;
    color: black;
    border-radius: 5px;
}

.footer-top-item h4{
    color: rgb(255, 251, 0);
}

.indent{
    text-indent: 1rem;
}

