*{
    margin: 0 1rem;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(https://images.unsplash.com/photo-1664802460218-9806b8409894?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8ODN8fGZvb2QlMjBiYWNrZ3JvdW5kfGVufDB8fDB8fHww);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.container{
    max-width: 1550px;
    margin: 0 auto;
}

nav{
    padding: 2rem;
    background-color: rgb(133, 79, 9);
    border-radius: 10px;
}

.nav-con{
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.logo a{
    font-size: 3rem;
    color: rgb(255, 251, 0);
    text-decoration: none;
}

.menu{
    display: flex;
    list-style: none;
    align-items: center;
}

.menu li{
margin: 0 1rem;
}

.menu li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.maincontent{
    background-color: rgb(229, 214, 203);
    width: 1360px;
    border-radius: 10px;
    margin: 0 auto;
}

.maincontent-con{
    display: flex;
}

.maincontent-info{
    width: 120%;
    padding: 1rem 0;
}

.maincontent-info h3{
    font-size: 2rem;
}

.maincontent-info p{
    margin: 1.5rem;
    font-size: 1.1rem;
}

.maincontent-info h4{
    color: rgb(122, 70, 2);
    font-size: 1.5rem;
    margin: 1rem 1rem;
}

.maincontent-info .maincontent-btn{
    background-color: rgb(0, 107, 27);
    color: rgb(255, 255, 255);
    padding: 1rem;
    border-radius: 5px;
    text-decoration: none;
}

.maincontent-img{
    width: 100%;
    padding: 2rem 2rem;
    margin: 0.5rem 0.5rem;
}

.maincontent-img img{
    width: 90%;
}

.content-info{
    width: 100%;
    padding: 2rem;
}


.content-title{
    margin: 2rem 0;
}

.content-title h3{
    font-size: 2rem;
}

.maincontent-img{
    width: 120%;
    padding: 1rem 1rem;
}

.content-item img{
    width: 100%;
}

.content-item h4{
    margin-top: 1rem;
    font-size: 1.5rem;
}

.content-item p{
    margin: 1rem 0;
}

.content-item a{
    display: inline-block;
    color: aliceblue;
    background-color: rgb(0, 107, 27);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-decoration: none;
}

.footer-top{
    margin-top: 2rem;
    padding: 3rem;
    background-color: rgb(133, 79, 9);
    color: aliceblue;
    border-radius: 10px;
}

.footer-top-con{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;
}

.footer-top-item-con{
    display: flex;
    margin: 1rem 0;
}

.footer-top-item-con .date{
    background-color: aliceblue;
    color: black;
    padding: 0.5rem;
    border-radius: 5px;
    text-align: center;
    margin-right: 10px;
}

.footer-top-item:nth-child(2) h4,
.footer-top-item:nth-child(3) h4{
    margin-bottom: 1rem;
}

.footer-buttom{
    background-color: aliceblue;
    padding: 0.5rem;
    margin: 0 8rem;
    text-align: center;
    color: black;
    border-radius: 5px;
}

.footer-top-item h4{
    color: rgb(255, 251, 0);
}

.indent{
    text-indent: 1rem;
}

