*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(https://images.unsplash.com/photo-1756907926533-4acaaf9e3e27?q=80&w=1074&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.container{
    max-width: 1550px;
    margin: 0 auto;
}

nav{
    padding: 1.7rem;
    background-color: rgb(0, 86, 97);
    border-radius: 10px;
}

.nav-con{
    display: flex;
    justify-content: space-between;
    padding: 0 ;
}

.logo a{
    font-size: 4rem;
    color: rgb(255, 251, 0);
    text-decoration: none;
}

.menu{
    display: flex;
    list-style: none;
    align-items: center;
}

.menu li{
margin: 0 2rem;
}

.menu li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.maincontent{
    background-color: rgb(201, 255, 252);
    width: 1560px;
    border-radius: 10px;
    margin: 0 auto;
    
}

.maincontent-con{
    display: flex;
}

.maincontent-info{
    width: 120%;
    padding: 3rem 0;
    margin: 0 2rem;
}

.maincontent-info h3{
    font-size: 2.5rem;
}

.maincontent-info p{
    margin: 1rem 0;
}

.maincontent-info h4{
    color: rgb(1, 106, 110);
    font-size: 1.5rem;
}

.maincontent-info h5{
    color: rgb(1, 106, 110);
    font-size: 1.7rem;
}

.maincontent-info .maincontent-btn{
    background-color: rgb(1, 106, 110);
    color: rgb(255, 255, 255);
    padding: 1rem;
    border-radius: 5px;
    text-decoration: none;
}

.maincontent-img{
    width: 120%;
    padding: 1rem;
}

.maincontent-img img{
    width: 100%;
}

.content-info{
    width: 120%;
    padding: 1rem;
}

.content-con{
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 0 auto;
    background-color: rgb(201, 255, 252);
    padding: 2rem 1rem;
    border-radius: 10px;
    width: 1150px;
}

.content-title{
    margin: 4rem 0;
}

.content-title h3{
    font-size: 2.5rem;
    margin: 0 13rem;
    color: rgb(0, 0, 0);
}

.content-title h5{
    font-size: 2rem;
    margin: 0 1rem;
    color: rgb(0, 0, 0);
}

.content-title p{
    font-size: 1.2rem;
    margin: 0 0.2rem;
    color: rgb(0, 42, 48);
}

.content-item{
    background-color: rgb(234, 253, 252);
    padding: 1rem 1rem;
    border-radius: 10px;
    width: 350px;
    margin: 0 auto;
}

.content-item img{
    width: 100%;
}

.content-item h4{
    margin-top: 1rem;
    font-size: 1.5rem;
}

.content-item p{
    margin: 1rem 0;
}

.content-item a{
    display: inline-block;
    color: aliceblue;
    background-color:rgb(1, 106, 110);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-decoration: none;
}

.footer-top{
    margin-top: 11rem;
    padding: 2rem;
    background-color: rgb(0, 86, 97);
    color: aliceblue;
    border-radius: 10px;
}

.footer-top-con{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1rem;
}

.footer-top-item-con{
    display: flex;
    margin: 1rem 0;
}

.footer-top-item-con .date{
    background-color: aliceblue;
    color: black;
    padding: 0.5rem;
    border-radius: 5px;
    text-align: center;
    margin-right: 10px;
}

.footer-top-item:nth-child(2) h4,
.footer-top-item:nth-child(3) h4{
    margin-bottom: 1rem;
}

.footer-buttom{
    background-color: aliceblue;
    padding: 0.5rem;
    margin: 0 8rem;
    text-align: center;
    color: black;
    border-radius: 5px;
}

.footer-top-item h4{
    color: rgb(255, 251, 0);
}

.indent{
    text-indent: 1rem;
}

